<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.indexing == false %}
      <meta name="robots" content="noindex">
    {% endif %}
    {% seo %}
    <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
    <meta name="theme-color" content="#f7f8f6">
    {% include site-styles.html %}
    {% include site-favicons.html %}
  </head>
  <body class="layout-{{ page.layout }}{% if page.title %} {{ page.title | slugify }}{% endif %}">
    {{ content }}
    {% if page.publication_modal %}
      <script src="{{ "/assets/scripts/publication-modal.js" | relative_url }}" defer></script>
    {% endif %}
    {% if page.news_toggle %}
      <script src="{{ "/assets/scripts/news-toggle.js" | relative_url }}" defer></script>
    {% endif %}
    {% if page.visit_tracker %}
      <script src="{{ "/assets/scripts/visit-tracker.js" | relative_url }}" defer></script>
    {% endif %}
  </body>
</html>
