---
layout: shell
---

<article class="post-detail typeset">
  <a class="back-link" href="{{ "/blog/" | relative_url }}">{% include icon.html name="arrow-left" %}<span>Back to Notes</span></a>
  <div class="blog-meta">
    {% include icon.html name="calendar" %}
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
  </div>
  <h1>{{ page.title }}</h1>

  {{ content }}

  {% if page.categories %}
    <div class="tag-row post-tags">
      {% for category in page.categories %}
        <span>{{ category }}</span>
      {% endfor %}
    </div>
  {% endif %}
</article>
